
div.orbit-wrapper {
	margin-top: 45px;
	padding-bottom: 45px;border-bottom: 2px solid #3d3d3d;	
}
#orbitDemo.orbit > a {
  width: 100%;
}

/*============================*/
/*===== Recent Posts Styles ======*/
/*============================*/

#recent_posts {padding-bottom: 45px;border-bottom: 2px solid #3d3d3d;}
.recent-posts-image {margin-top:8px; margin-bottom: 8px;}
#recent-posts-container.three.columns {width: 22.4%; margin-left: 3.4%; margin-right:0%;}
#recent-posts-container.columns:first-child {margin-left: 0%;}
#recent-posts-container p {font-size: 11px;}

#recent-posts-container a {color: white;}
#recent-posts-container a:hover {color: #DDD;}

.recent_posts_element_title {color:white; margin-top: 45px; margin-bottom:15px; font-weight: bold;}
.recent_posts_post_title {font-size: 15px;color: #fff;}
.recent_posts_byline {color:#646464;font-size: 11px;padding-bottom: 10px;}

/*============================*/
/*======= Twitter Bar ========*/
/*============================*/

#twitterbar {
	overflow: hidden;
	margin: auto;
	background: url(../images/twitterbarbg.png);	
	min-height: 42px;
	margin-top: 45px;
	margin-bottom: 45px;
}

#bird {
	float: left;
	height: 45px;
	width: 64px;
	margin-right: 35px;
}

.twitter_bird {margin-left:20px; margin-right: 15px;}

#twittertext {
	color: #7c7c7c;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	padding: 13.5px 0px 13.5px 15px;
}

/*============================*/
/*====== Bread Crumbs ========*/
/*============================*/

#crumbs {border: 1px solid #3D3D3D;margin-bottom:15px;margin-top:15px;background:#222;}

.crumbs_text {padding: 1px 5px 5px 15px;}

/*============================*/
/*===== Widgitized Boxes =====*/
/*============================*/

.boxes {margin-top:45px;margin-bottom:20px;padding-bottom: 45px;border-bottom: 2px solid #3d3d3d;
}

.box_element_title{color:white; margin-top: 45px; font-weight: bold; margin-bottom: -35px;}

#box_container {
	min-height: 240px;
	margin-top: 15px;
	margin-bottom: 10px;
}

#box_container ul {
	list-style: none;
}

.boximg {
	margin: auto;
	margin-bottom: 15px;
}

.boxtext {
	text-align: left;
	color: #9a9a9a;
	margin-bottom: 5px;
	font-size: 13px;
}

.box-widget-title {
	color: #fff;
	font-size: 15px;
	font-weight: 500;
	text-align: left;
	margin-bottom: 5px;
	clear: both;
}

#box1 {
	min-height: 180px;
	color: #222;
}

#box2 {
	min-height: 180px;
	color: #222;
}

#box3 {
	min-height: 180px;
	color: #222;
}

.boxes ul { padding-left: 15px; }


/*============================*/
/*===== Portfolio =====*/
/*============================*/
 
#gallery {
	margin-top: 45px;

}

#gallery {border-bottom: 2px solid #3d3d3d;}

#portfolio_wrap { margin-bottom: 45px;}

#portfolio_wrap.three.columns:last-child, #portfolio_wrap.four.columns:last-child, #portfolio_wrap.six.columns:last-child {float:left;}

.portfolio_title {color: white;}

.portfolio_caption {text-align: center; bottom: 50%; left: 5px; color: white; width: 100%; position: absolute; z-index: 2; font-size: 18px;}

#gallery li.three.columns {margin-right:0px; margin-left: 4.4%;}
#gallery li.four.columns {margin-right:0px; margin-left: 4.4%;}
#gallery li.six.columns {margin-right:0px; margin-left: 4.4%;}

#portfolio_wrap.three.columns:first-child, #portfolio_wrap.four.columns:first-child, #portfolio_wrap.six.columns:first-child {margin-left: 0%;}

#portfolio_wrap.three.columns.first-row, #portfolio_wrap.four.columns.first-row, #portfolio_wrap.six.columns.first-row {margin-left: 0%;}

#gallery ul { list-style: none; margin: 0px; }

#gallery ul li { display: inline; }

#gallery ul img {
border: 2px solid #3D3D3D;

}
	
#gallery ul a:hover img {

	color: #fff;
	opacity: .5;
}

#gallery ul a:hover { color: #fff; }
	
/* SLIMBOX */

#lbOverlay {
	position: fixed;
	z-index: 9999;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	cursor: pointer;
}

#lbCenter, #lbBottomContainer {
	position: absolute;
	z-index: 9999;
	overflow: hidden;
	background-color: #fff;
}

.lbLoading {
	background: #fff url(../images/portfolio/loading.gif) no-repeat center;
}

#lbImage {
	position: absolute;
	left: 0;
	top: 0;
	border: 10px solid #fff;
	background-repeat: no-repeat;
}

#lbPrevLink, #lbNextLink {
	display: block;
	position: absolute;
	top: 0;
	width: 50%;
	outline: none;
}

#lbPrevLink {
	left: 0;
}

#lbPrevLink:hover {
	background: transparent url(../images/portfolio/prevlabel.gif) no-repeat 0 15%;
}

#lbNextLink {
	right: 0;
}

#lbNextLink:hover {
	background: transparent url(../images/portfolio/nextlabel.gif) no-repeat 100% 15%;
}

#lbBottom {
	font-family: Verdana, Arial, Geneva, Helvetica, sans-serif;
	font-size: 10px;
	color: #666;
	line-height: 1.4em;
	text-align: left;
	border: 10px solid #fff;
	border-top-style: none;
}

#lbCloseLink {
	display: block;
	float: right;
	width: 66px;
	height: 22px;
	background: transparent url(../images/portfolio/closelabel.gif) no-repeat center;
	margin: 5px 0;
	outline: none;
}

#lbCaption, #lbNumber {
	margin-right: 71px;
}

#lbCaption {
	font-weight: bold;
}
