
div.orbit-wrapper {
	margin-top: 45px;
	padding-bottom: 45px;border-bottom: 2px solid #3d3d3d;	
}

/*============================*/
/*===== Recent Posts Styles ======*/
/*============================*/

#recent_posts {padding-bottom: 45px;border-bottom: 2px solid #3d3d3d;}
.recent-posts-image {margin-top:8px; margin-bottom: 8px;}
#recent-posts-container.three.columns {width: 22.4%; margin-left: 3.4%; margin-right:0%;}
#recent-posts-container.columns:first-child {margin-left: 0%;}
#recent-posts-container p {font-size: 11px;}

#recent-posts-container a {color: white;}
#recent-posts-container a:hover {color: #DDD;}

.recent_posts_element_title {color:white; margin-top: 45px; margin-bottom:15px; font-weight: bold;}
.recent_posts_post_title {font-size: 15px;color: #fff;}
.recent_posts_byline {color:#646464;font-size: 11px;padding-bottom: 10px;}

/*============================*/
/*======= Twitter Bar ========*/
/*============================*/

#twitterbar {
	overflow: hidden;
	margin: auto;
	background: url(../images/twitterbarbg.png);	
	min-height: 42px;
	margin-top: 45px;
	margin-bottom: 45px;
}

#bird {
	float: left;
	height: 45px;
	width: 64px;
	margin-right: 35px;
}

.twitter_bird {margin-left:20px; margin-right: 15px;}

#twittertext {
	color: #7c7c7c;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	padding: 13.5px 0px 13.5px 15px;
}

/*============================*/
/*====== Bread Crumbs ========*/
/*============================*/

#crumbs {border: 1px solid #3D3D3D;margin-bottom:15px;margin-top:15px;background:#222;}

.crumbs_text {padding: 1px 5px 5px 15px;}

/*============================*/
/*===== Widgitized Boxes =====*/
/*============================*/

.boxes {margin-top:45px;margin-bottom:20px;padding-bottom: 45px;border-bottom: 2px solid #3d3d3d;
}

.box_element_title{color:white; margin-top: 45px; font-weight: bold; margin-bottom: -35px;}

#box_container {
	min-height: 240px;
	margin-top: 15px;
	margin-bottom: 10px;
}

#box_container ul {
	list-style: none;
}

.boximg {
	margin: auto;
	margin-bottom: 15px;
}

.boxtext {
	text-align: left;
	color: #9a9a9a;
	margin-bottom: 5px;
	font-size: 13px;
}

.box-widget-title {
	color: #fff;
	font-size: 15px;
	font-weight: 500;
	text-align: left;
	margin-bottom: 5px;
	clear: both;
}

#box1 {
	min-height: 180px;
	color: #222;
}

#box2 {
	min-height: 180px;
	color: #222;
}

#box3 {
	min-height: 180px;
	color: #222;
}

.boxes ul { padding-left: 15px; }

/**
 * jQuery lightBox plugin
 * This jQuery plugin was inspired and based on Lightbox 2 by Lokesh Dhakar (http://www.huddletogether.com/projects/lightbox2/)
 * and adapted to me for use like a plugin from jQuery.
 * @name jquery-lightbox-0.5.css
 * @author Leandro Vieira Pinho - http://leandrovieira.com
 * @version 0.5
 * @date April 11, 2008
 * @category jQuery plugin
 * @copyright © 2008 Leandro Vieira Pinho (leandrovieira.com)
 * @license CCAttribution-ShareAlike 2.5 Brazil - http://creativecommons.org/licenses/by-sa/2.5/br/deed.en_US
 * @example Visit http://leandrovieira.com/projects/jquery/lightbox/ for more informations about this jQuery plugin
 */
 
#gallery {
	margin-top: 45px;

}

#gallery {border-bottom: 2px solid #3d3d3d;}

#portfolio_wrap { margin-bottom: 45px;}

#portfolio_wrap.three.columns:last-child, #portfolio_wrap.four.columns:last-child, #portfolio_wrap.six.columns:last-child {float:left;}

.portfolio_title {color: white; padding-left: 20px;}

.portfolio_caption {text-align: center; bottom: 50%; left: 5px; color: white; width: 100%; position: absolute; z-index: 2; font-size: 18px;}

#gallery li.three.columns {margin-right:0px; margin-left: 4.4%;}
#gallery li.four.columns {margin-right:0px; margin-left: 4.4%;}
#gallery li.six.columns {margin-right:0px; margin-left: 4.4%;}

#portfolio_wrap.three.columns:first-child, #portfolio_wrap.four.columns:first-child, #portfolio_wrap.six.columns:first-child {margin-left: 0%;}

#portfolio_wrap.three.columns.first-row, #portfolio_wrap.four.columns.first-row, #portfolio_wrap.six.columns.first-row {margin-left: 0%;}

#gallery ul { list-style: none; margin: 0px; }

#gallery ul li { display: inline; }

#gallery ul img {
border: 2px solid #3D3D3D;

}
	
#gallery ul a:hover img {

	color: #fff;
	opacity: .5;
}

#gallery ul a:hover { color: #fff; }
	
#jquery-overlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 90;
	width: 100%;
	height: 500px;
}
#jquery-lightbox {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 2100;
	text-align: center;
	line-height: 0;
}
#jquery-lightbox a img { border: none; }
#lightbox-container-image-box {
	position: relative;
	background-color: #fff;
	width: 250px;
	height: 250px;
	margin: 0 auto;
}
#lightbox-container-image { padding: 10px; }
#lightbox-loading {
	position: absolute;
	top: 40%;
	left: 0%;
	height: 25%;
	width: 100%;
	text-align: center;
	line-height: 0;
}
#lightbox-nav {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 10;
}
#lightbox-container-image-box > #lightbox-nav { left: 0; }
#lightbox-nav a { outline: none;}
#lightbox-nav-btnPrev, #lightbox-nav-btnNext {
	width: 49%;
	height: 100%;
	zoom: 1;
	display: block;
}
#lightbox-nav-btnPrev { 
	left: 0; 
	float: left;
}
#lightbox-nav-btnNext { 
	right: 0; 
	float: right;
}
#lightbox-container-image-data-box {
	font: 10px Verdana, Helvetica, sans-serif;
	background-color: #fff;
	margin: 0 auto;
	line-height: 1.4em;
	overflow: auto;
	width: 100%;
	padding: 0 10px 0;
}
#lightbox-container-image-data {
	padding: 0 10px; 
	color: #666; 
}
#lightbox-container-image-data #lightbox-image-details { 
	width: 70%; 
	float: left; 
	text-align: left; 
}	
#lightbox-image-details-caption { font-weight: bold; }
#lightbox-image-details-currentNumber {
	display: block; 
	clear: left; 
	padding-bottom: 1.0em;	
}			
#lightbox-secNav-btnClose {
	width: 66px; 
	float: right;
	padding-bottom: 0.7em;	
}
